<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
		integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/candidateList.css}">
</head>
<body>
	<section>
	
	<!-- Start Nav Bar -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Voting Page</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto text-uppercase">
				
				<li class="nav-item"><a class="nav-link " th:href="@{/logout}">Logout</a></li>


			</ul>

		</div>
	</nav>
	</section>
	<section>

		<div class="container">
			<div class="row">

				<div class="col-md-6 offset-md-3">
					<div class="my-card">
						<div th:if="${session.message}"
							th:classappend="${session.message.type}"
							class="alert alert-primary" role="alert">
							<p class="text-center" th:text="${session.message.content}"></p>
							<th:block th:text="${@sessionHelper.removeAttribute()}">
							</th:block>

						</div>
						
						<form id="candidateForm" action="/user/select" method="post" class="form">
							<div class="candidate-list">
							<h2 class="text-center">Candidates List</h2> 
								<label th:each="candidate : ${candidateUsers}"
									for="candidate-${candidate.candidate_id}"> <input
									type="radio" name="selectedCandidateId"
									id="candidate-${candidate.candidate_id}"
									th:value="${candidate.candidate_id}"
									th:checked="${candidate.candidate_id == selectedCandidateId}" />
									<span th:text="${candidate.name}"></span>
								</label> <br>
								<input type="submit" value="Submit Vote" class="submit-button" disabled>
								<!-- Add a line break to separate each radio button and name pair -->
							</div>
							</form>
					</div>
				</div>
			</div>
		</div>

	</section>
	<!-- Optional JavaScript; choose one of the two! -->

	<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
	<script
		src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
		crossorigin="anonymous"></script>

	 <script type="text/javascript">
	function checkProgress() {
		  if ($("input:radio[name*='selectedCandidateId']:checked").length != 0) {
		    $('.submit-button').prop('disabled', false);
		  } else {
		    $('.submit-button').prop('disabled', true);
		  }
		}

		$(function () {
		  // Set the status once the doc loads.
		  checkProgress();
		  // Set it again when any of the radio buttons are clicked.
		  $("input:radio[name*='selectedCandidateId']").on("click change", checkProgress);
		  $('.submit-button').hover(
		            function () {
		                if ($(this).prop('disabled')) {
		                    $(this).css('cursor', 'not-allowed');
		                }
		            },
		            function () {
		                $(this).css('cursor', 'pointer');
		            }
		        );
		    });
</script> 



</body>

</html>
