/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  background-color: #eee;
} 
.wrapper {
    width: 400px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 3px 3px 36px rgba(0,0,0,0.2);
}
.wrapper .title{
      color: #fff;
    line-height: 65px;
    text-align: center;
    background: #9C27B0;
    font-size: 25px;
    font-weight: 500;
    border-radius: 4px 4px 0 0;
}
.wrapper .box{
  padding: 20px 30px;
  background: #fff;
  border-radius: 10px;
}
.wrapper .box label{
      display: flex;
    height: 53px;
    width: 100%;
    align-items: center;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin: 10px 0;
    padding-left: 11px;
    cursor: pointer;
    transition: all 0.3s ease;
}
#value-1:checked ~ .value-1,
#value-2:checked ~ .value-2,
#value-3:checked ~ .value-3,
#value-4:checked ~ .value-4{
  background: #9C27B0;
  border-color:#9C27B0;
}
.wrapper .box label .select-dots{
  height: 20px;
  width: 20px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
  transition: all 0.3s ease;
}
#value-1:checked ~ .value-1 .select-dots,
#value-2:checked ~ .value-2 .select-dots,
#value-3:checked ~ .value-3 .select-dots,
#value-4:checked ~ .value-4 .select-dots{
  background: #fff;
}
.box label .select-dots::before{
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  transition: all 0.3s ease;
}
#value-1:checked ~ .value-1 .select-dots::before,
#value-2:checked ~ .value-2 .select-dots::before,
#value-3:checked ~ .value-3 .select-dots::before,
#value-4:checked ~ .value-4 .select-dots::before{
  background: #9C27B0;
  transform: translate(-50%, -50%) scale(1);
}
.wrapper .box label .text{
  color: #333;
  font-size: 18px;
  font-weight: 400;
  padding-left: 10px;
  transition: color 0.3s ease;
}
#value-1:checked ~ .value-1 .text,
#value-2:checked ~ .value-2 .text,
#value-3:checked ~ .value-3 .text,
#value-4:checked ~ .value-4 .text{
  color: #fff;
}
.wrapper .box input[type="radio"]{
  display: none;
} */

body {
  background-color: #499f68;
  color: #fff;
  margin: 0 auto 0;
  font-family: "Josefin Sans";
}
.container {
  display: flex;
  flex-flow: wrap row;
  justify-content:center;
  margin-top:3rem;
}
.counter {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 1.5%;
  font-size: 50px;
  background-color: #f4f4f4;
  color: #499f68;
  width: 200px;
  border-radius: 50%;
  height: 200px;
  vertical-align: middle;
}
